body{
		/*font: 62.5% "Trebuchet MS", sans-serif;
		margin: 10px 60px;*/
	}
	/*.demoHeaders {
		margin-top: 2em;
	}*/
	/*#dialog-link {
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	#dialog-link span.ui-icon {
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	#icons {
		margin: 0;
		padding: 0;
	}
	#icons li {
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	#icons span.ui-icon {
		float: left;
		margin: 0 4px;*/
	/*}
	.fakewindowcontain .ui-widget-overlay {
		position: absolute;
	}
	select {
		width: 200px;
	}*/

/*	a {
    font-size: 14px;
    }*/

    legend{
    font-size: 12px;	
    }

    fieldset{
    	border: 1px #CECECE solid;
    }
	
    #main-wrapper 
	{
    float:right;
    width:70%;
	position: static;
    }

    #mainpage-wrapper 
	{
    float:right;
    width:100%;
    border-radius: 5px;
    border: 3px solid #4297d7;
	/*position: static;*/
    }

   
	
	#content-wrapper
	{
	/*min-width:775px;*/
	}
	
    #sidebar-wrapper 
	{
    float:left;
    width:25%;
    border-radius: 5px;
	border: 3px solid #4297d7;
	position: static;
	padding: 10px 10px 10px 7px;
	font-size: 14px;
	}
	
	#sidebar-title 
	{
    float:left;
    width:25%;
    background: #5c9ccc;
    border-radius: 5px;
	border: 1px solid #4297d7;
	padding: 10px;
    text-align: center;
	padding: 10px;
    text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	position: static;
    }

    #selectin
    {
   	width:15px;  	
    }

    #tabs1 {border: none}

    #accordion div {
    		 height: 50px;
    		 padding-top:5px !important; 
             padding-bottom:10px !important;
    }

    

    fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

    legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    margin-bottom:0;
}


.navbar.navbar-default {
    background-color: #5c9ccc;
    border-color: white;
   
        }
    

.nav.navbar-nav li a{
	 color: white;
	 font: 110% "Trebuchet MS", sans-serif;
} 

.nav.navbar-nav li a:hover{
	 color: #335C91;
	 background-color: white;
	 border-top-left-radius: 6px ;
	 border-top-right-radius: 6px ;
} 

/*.nav.navbar-nav li a:focus{
	 color: #5c9ccc;
	 background-color: white;
} 
*/

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
	 background-color: #5c9ccc;
	 color:white;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    background-color: white;
    color: #5c9ccc;
    border-top-left-radius: 4px ;
	border-top-right-radius: 4px ;
	border-bottom-left-radius: 4px ;
	border-bottom-right-radius: 4px ;
}

/*.navbar-default .navbar-nav .open .dropdown-menu>li>a, 
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus
{
	 color: black;
}*/

/*.navbar-default.navbar-nav > li.dropdown-menu.open.active > a:hover, 
.navbar-default.navbar-nav > li.dropdown-menu.open > a
{
   color: #fff;
   background-color: #b91773;
   border-color: #fff;
}
*/

.navbar-default .navbar-nav> .dropdown>a{
	border-top-left-radius: 6px ;
	border-top-right-radius: 6px ;
}

.navbar-default .navbar-nav .dropdown>a:focus,
.navbar-default .navbar-nav .dropdown>a:hover{
    background-color: white;
    border-top-left-radius: 6px ;
	border-top-right-radius: 6px ;
}


 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover ,  
 .navbar-default .navbar-nav > .active > a:focus  {
      color: #5c9ccc;
      background: white;
      border-top-left-radius: 6px ;
	  border-top-right-radius: 6px ;
 }

.navbar-nav > li > a, .navbar-brand {
    padding-top:9px !important; 
    padding-bottom:9px !important;
    height: 30px;

}
.navbar {min-height:35px !important;}

 .navbar-nav > li, .navbar-brand {
    padding-top:8px !important; 
    padding-bottom:0px !important;
    padding-left:2px;
    padding-right:2px;
    height: 38px;
}

.table-bordered  tr th {
  background-color: #6CABDB !important;
  color:white;
}

.panel-primary{

 border-color: #6CABDB !important;	
}

.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}


a {
    text-decoration: none !important;
     font-size: 13px;
}


aa {
     text-decoration: none !important;
     font-size: 13px;
     font-weight: bold;
}

a1 {
     text-decoration: none !important;
     font-size: 12px;
}

input{
	font-size: 12px;
}

option{
	font-size: 12px;
}

select{
	font-size: 13px;
	/*width:145px;*/
}